<header>
    <nav>
        <span *ngIf="!key" routerLink="/login"><i class="fa fa-sign-in fa-lg"></i> Login</span>        
        <span *ngIf="!key" routerLink="/register"><i class="fa fa-user-plus fa-lg"></i> Register</span>
        <!--<span *ngIf="key" routerLink="/forum-home"><i class="fa fa-home fa-lg"></i> Dashboard</span>        
        <span *ngIf="key" routerLink="/register"><i class="fa fa-cog fa-lg"></i> User Settings</span>-->
        <span *ngIf="key" (click)="onClickLogoutUser()"><i class="fa fa-sign-out fa-lg"></i> Logout</span>        
    </nav>
</header>

