header {
    background-color: dodgerblue;
    margin-bottom: 20px;          
    nav {
        padding: 20px;                    
        span {
            background-color: deepskyblue;
            color: white;
            padding: 10px 20px;
            border-radius: 50px;
            display: inline-block;
            cursor: pointer;
        }
    }
}